.dashboard-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 100vh;
}


.dashboard-content {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 2rem;
    flex: 1;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
    }
}


app-code-input,
app-analysis-result {
    height: calc(100vh - 12rem);
    min-height: 600px;
}