$mobile: 768px;
$laptop: 1024px;
$desktop: 1400px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}
