@mixin scrollbar() {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: var(--bg-main);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--bg-accent);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--text-muted);
    }
}